$primary: #00796B;
$accent: #4DB6AC;
$tertiary: #E0F2F1;

$warn: #FF1744;
$error: #FF1744;

$background-color: #E0E0E0;

$info-notification: #229aaf;
$warn-notification: #e29014;
$error-notification: #b30f30;