$primary: #00796B;
$accent: #4DB6AC;
$tertiary: #E0F2F1;

$warn: #FF1744;
$error: #FF1744;

$background-color: #E0E0E0;

$info-notification: #1052e0;
$warn-notification: #ffd900;
$error-notification: #FF1744;